body {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  margin: 0;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../assets/fonts/Pretendard/woff2/PretendardVariable.woff2');
}