.mapCanvas {
    width: 6866px;
    height: 4460px;
    display: block;
    background-color: #1a1a1a;

}

#mapCanvas {
    display: block;
    /* 캔버스 하단 여백 제거  */
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;

}